[submodule "public"]
	path = public
	url = git@github.com:eariassoto/eariassoto.github.io.git
[submodule "themes/hugo-notepadium"]
	path = themes/hugo-notepadium
	url = https://github.com/cntrump/hugo-notepadium
[submodule "themes/hugo-theme-hello-friend"]
	path = themes/hugo-theme-hello-friend
	url = git@github.com:eariassoto/hugo-theme-hello-friend.git
