[submodule "public"]
	path = public
	url = https://github.com/eariassoto/eariassoto.github.io
[submodule ".\\themes\\hugo-notepadium"]
	path = .\\themes\\hugo-notepadium
	url = https://github.com/cntrump/hugo-notepadium
